* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: normal normal normal 140% / 140% "Montserrat", sans-serif;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: black;
}

body {
  font: normal normal normal 140% / 140% "Montserrat", sans-serif;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: black;
}
.header {
  width: 100%;
  padding: 1em 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.header .centrado {
  width: 90%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}
.header .logo {
  width: 15%;
}
.header .nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: initial;
}
.header .ul {
  max-width: 700px;
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: initial;

  font-size: 0.7em;
  text-transform: uppercase;
}
.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.fa-bars {
  display: none;
}
.soul {
  width: 100%;
  height: 100vh;
  background-image: url(../img/soul1.jpg);
  background-position: top;
  background-attachment: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
}
.soul .img-soul {
  width: 50%;
}
.main .windows {
  width: 90%;
  padding: 6em 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}
.main .section {
  width: 100%;
  padding: 0 0.8em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
}
.main .h2 {
  font-size: 0.6em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.3em;
}
.main .img {
  width: 100%;
  margin-bottom: 1em;
}

.footer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
}

.footer .rrss {
  width: 10%;
  min-width: 120px;
  padding: 2.5em 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}

.footer .enlaces {
  width: 100%;
  font-size: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}
.footer .copy {
  width: 100%;
  padding: 1em 0;
  font-size: 0.7em;
  text-align: center;
  letter-spacing: 0.1em;
}

.footer .line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-decoration: underline;
}
.footer .a {
  letter-spacing: 0.2em;
}

@media (max-width: 1000px) {
  .nav {
    display: none;
  }
  .fa-bars {
    display: flex;
  }

  .header .ul {
    display: none;
  }
}

@media (max-width: 780px) {
  .header .logo {
    width: 22%;
  }
  .main .windows {
    width: 100%;
    padding: 3em 0;
    flex-flow: row wrap;
  }
  .soul .img-soul {
    width: 90%;
  }
  .main .img {
    margin-bottom: 0;
  }
  .main .h2 {
    padding: 2.5em;
  }
  .footer .rrss {
    padding: 0.5em 0 2.5em;
  }
  .footer .enlaces {
    width: 95%;
  }
}
